@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #F05024);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #00c6ff)
}
